{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ".editorconfig",
      "options": { "parser": "yaml" }
    }
  ]
}
